body{
  background: url('../turtle_background.jpg');
  height: 100%;
  margin: 0;
  padding: 0;
}
.img{
opacity: 0.2;
}
.navbar-inner{ /*changes color of navbar box*/

  background: transparent!important;
  border: 1px solid transparent!important;
  margin-bottom:50px!important;
}
.navbarColor{    /*changes color of navbar content*/
  color:white!important;
}
<<<<<<< HEAD

.geoPull{

  position:fixed!important;
  left:0px!important;

}

=======
>>>>>>> 5158b651f9f22e8da5170af466482664efeb2c8d
.panel-color{
  background-color:#4a4c4f!important;
}
#map {
    height: 400px;
    width: 100%;
    }